body  {
    background-color: black;
    font-family: 'Roboto Mono', monospace !important;
}

.var-highlight{
    color: #FFC31F;
}
.string-highlight{
    color: #659CC8;
}

.string-highlight:hover{
    color:white;
    cursor: pointer;
}

.logo:hover{
    color:white;
    cursor: pointer;
}

#typewriter{
    color: #EFDAB9 !important;
        font-size: 1em;
        margin-left: 1em;
        font-family: 'Roboto Mono', monospace !important;

        &:after{
            content: "|";
            color: white; !important
            animation: blink 500ms linear infinite alternate;
        }
}

@-webkit-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-moz-keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

footer {
    margin-left: 2em;
    padding-top: 4em;
    font-size: 0.5em;
    color: #EFDAB9 
}

footer a {
    font-size: 0.5em;
    color: #EFDAB9 
}

footer a:hover{
    cursor: pointer;
    color: white
}

#newsletter {
    text-decoration: underline;
}

.mainNav {
    color: #EFDAB9 !important;
    font-size: 1em;
    margin: 1em;
    margin-top: 0em;
    font-family: 'Roboto Mono', monospace !important;
}

.socialNavContainer {
}

.socialNav li {
    display: inline-block;
    text-align: left;
}

.social-link {
    height: 0.75em;
}

.social-link .a{
    height: 0.75em;
}

#lastSocialNavItem {
    color: white;
    text-decoration: none;
}


#socialText {
    padding-top: 5em;
    padding-left: 1em;
    font-size: 1em;
    color: white;
    white-space: nowrap;
    display: table-cell;
}

#bio {
    display: inline-block;
    color:red; !important
}



/*MUSIC*/
iframe {
    margin-left:8em;
    border: 0; 
    height: calc(36vw - 0em);
    width: calc(36vw - 0em);
}

#embeddedBc {
    margin-left: -5.5em;
}

#embeddedSc {
    margin-left: -5.5em;
}
