body  {
    font-family: 'Roboto Mono', monospace !important;
    background-color: #1C1C1C;
}

.var-highlight{
    color: #FF936B;
}
.string-highlight{
    color: #F13E00;
}

.string-highlight:hover{
    color:white;
    cursor: pointer;
}

.type {
    color:white;
}

.logo:hover{
    color:white;
    cursor: pointer;
}

#typewriter{
    color: #D3D3D3 !important;
        font-size: 1em;
        margin-left: 1em;
        font-family: 'Roboto Mono', monospace !important;
}

footer {
    font-size: 0.8em;
    padding-left:0;
    margin-left: 0.8em;
    padding-top: 1em;
    color: #D3D3D3 
}

footer a {
    color: #D3D3D3 
}

footer a:hover{
    cursor: pointer;
    color: white
}

#newsletter {
    text-decoration: underline;
}

.mainNav {
    color: #D3D3D3 !important;
    font-size: 1em;
    margin: 1em;
    margin-top: 0em;
    font-family: 'Roboto Mono', monospace !important;
}

.socialNav li {
    display: inline-block;
    text-align: left;
}

.social-link {
    height: 0.75em;
}

.social-link .a{
    height: 0.75em;
}

#lastSocialNavItem {
    color: white;
    text-decoration: none;
}


#socialText {
    padding-top: 5em;
    padding-left: 1em;
    font-size: 1em;
    color: white;
    white-space: nowrap;
    display: table-cell;
}

#bio {
    display: inline-block;
    color:red; !important
}

/*MUSIC*/
iframe {
    margin-left:8em;
    border: 0; 
    height: calc(36vw - 0em);
    width: calc(36vw - 0em);
}

#embeddedBc {
    margin-left: -3em;
}

#embeddedSc {
    margin-left: -3em;
}

.slideshowImage {
    width : 90%;
    margin-left: 4.5em;
}

#slideshow {
    display: grid;
}

/*GALLERY*/

#vimeo embed {
    position: absolute;
    margin-top: -1em;
    left:0em;
    right: 0;
    width: 90%;
    height: 90%;
}

#vimeo {
    position: relative;
    padding-bottom: 56.25%;
    left:4.5em;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}

#youtube embed {
    position: absolute;
    top: 0;
    left:4.5em;
    right: 0;
    width: 90%;
    height: 100%;
}

#youtube {
    z-index:10;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}

.impressum {
    color: #D3D3D3 !important;
    font-size: 1em;
    margin-left: 1em;
    font-family: 'Roboto Mono', monospace !important;
}

.impressum {
    font-size:100%;
    text-align: block;
    line-height: 1.3;
    color:lightgray;
    margin-left: 4em;
}

a:link {
    color: #F13E00;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

pre {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
