{% extends "base.html" %}

{% block content %}
    <pre class="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::audio()
    {
        // Releases
        ( </pre>

        {{ data.content.releases | safe }}

        <pre class="typewriter">
        )
        </pre>

    <pre class="typewriter">
        // DJ-Mixes and Podcasts
        (</pre>

        {{ data.content.podcasts | safe }}
            
        <pre class="typewriter">
        )
    }
    </pre>
{% endblock %}
