<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='stylesheets/style.css') }}>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    </head>
    <body>
        <pre class="typewriter">


    initializing...

    <span class= "type">void</span> <span class="var-highlight">Website</span><span class="logo" onclick="window.location.replace('/')">::hidonash() </span>
    {
        string menu_[<span class="string-highlight" onclick="window.location.replace('audio')">'audio'</span>,
                     <span class="string-highlight" onclick="window.location.replace('video')">'video'</span>,
                     <span class="string-highlight" onclick="window.location.replace('bio')" id="target">'biography'</span>,
                     <span class="string-highlight" onclick="window.location.replace('contact')">'contact'</span>];
    }

    //============================
        </pre>
        {% block content %}{% endblock %}
        <footer>
            <div class="socialNavContainer">
                <div class=socialNav>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/sigmoidmusic/">
                            <img  id="socialLogo" class="svg social-link" alt="facebook" style="width:3em">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://soundcloud.com/hidonash">
                            <img id="socialLogo" class="svg social-link" alt="soundcloud" style="width:3em">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/hidonash/?hl=de">
                            <img id="socialLogo" class="svg social-link" alt="instagram" style="width:3em">
                        </a>
                    </li>
                </div>
            </div>
        <div class=socialNavBackground></div>
            <a id="impressum" target="_blank" onclick="window.location.replace('impressum')"> Impressum/DSGVO </a>
        </footer>
    </body>
    <script src={{ url_for('static', filename='javascript/typewriter.js') }}></script>
</html>
