{% extends "base.html" %}

{% block content %}
    <pre class="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::bio()
    {
        to_string
        (" </pre>
        <div class="textblock typewriter">
        Hidonash is a Düsseldorf, (DE) based musician, DJ
        and software developer who explores contemporary
        terrain in experimental music and media art.
        With an interest in machinistic occultism, and
        technological culture, his work intertwines archaic
        and modernistic motives formulating both intuitive
        and algorithmic gestures.

        As a participant in the founding of the event series
        <a href="https://www.instagram.com/systemctl.global/">system ctl</a>, Hidonash curates the spectrum of electronic
        music within the Düsseldorfer club-scene.

        </div>
    <pre class="typewriter">
        ")
    }
    </pre>
{% endblock %}
