<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='stylesheets/cms_style.css') }}>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
	    <a href="{{ url_for('cms') }}"> content management system</a>
        {%  endif %}
    </head>
    <body>
{% block content %}
    <h1>Content Management System</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.bio.label }}<br>
                {{ form.bio(size=60) }}<br>
                {% for error in form.bio.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.releases.label }}<br>
                {{ form.releases(size=60) }}<br>
                {% for error in form.releases.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.podcasts.label }}<br>
                {{ form.podcasts(size=60) }}<br>
                {% for error in form.podcasts.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.videos.label }}<br>
                {{ form.videos(size=60) }}<br>
                {% for error in form.videos.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}
