{% extends "base.html" %}

{% block content %}

<pre class="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::contact()
    {
        to_string
        (" </pre>
        <div class="textblock typewriter">
        If you are further interested in what I do, feel free to get in touch:

        <a class="mailto" href="mailto:mail@hidonash.de">mail@hidonash.de</a>

        Simon Zimmermann
        Düsseldorf, Germany

        </div>
<pre class="typewriter">
        ")
    } </pre>
{% endblock %}
