<html>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='stylesheets/style.css') }}>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
            <h1 style="color: white;">Sign In</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p style="color: white;">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p style="color: white;">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p style="color: white;">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        {% endblock %}
    </body>
</html>

