{% extends "base.html" %}

{% block content %}
    <pre class="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::video()
    {
        // video:
        (

        "'Exolar - Computer Vision' 360° video and ambisonics audio"
        </pre>
        <div id="youtube" onmouseover="scrollingOver()">
                <embed src='https://www.youtube.com/embed/Sn2Ag1kGFLM'></embed>
        </div>
	<pre class="typewriter">
        )
        // photo:
        (
        </pre>
        <div id="slideshow">
            {% for image in images %}
            <img src= {{ url_for('static', filename="images/" + image) }} class='slideshowImage'></img>
            {% endfor %}
        </div>
        <pre class="typewriter">
        )
    }
    </pre>
{% endblock %}
