{% extends "base.html" %}

{% block content %}
    <pre class="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::video()
    {
        // video:
        (</pre>
    
        {{ data.content.videos | safe }} 

        <pre class="typewriter">
        )
        // photo:
        (
        </pre>
        <div id="slideshow">
            {% for image in images %}
            <img src= {{ url_for('static', filename="images/" + image) }} class='slideshowImage'></img>
            {% endfor %}
        </div>
        <pre class="typewriter">
        )
    }
    </pre>
{% endblock %}
