body  {
    font-family: 'Roboto Mono', monospace !important;
    background-color: #1C1C1C;
    padding-right: 5%;
}
.var-highlight{
    color: #FF936B;
}
.string-highlight{
    color: #F13E00;
}

.string-highlight:hover{
    color:white;
    cursor: pointer;
}
.type {
    color:white;
}
.logo:hover{
    color:white;
    cursor: pointer;
}

#typewriter{
    color: #D3D3D3 !important;
    font-size: 90%;
    margin:0;
    font-family: 'Roboto Mono', monospace !important;
}

.textblock {
    padding-left : 8em;
}

.mainNav {
    color: #D3D3D3 !important;
    margin: 1em;
    margin-top: 0em;
    font-family: 'Roboto Mono', monospace !important;
}

.socialNav li {
    display: inline-block;
    text-align: left;
}

#bio {
    display: inline-block;
    color:red; !important
}


/*MUSIC*/
iframe {
    height: 60vw;
    width: 60vw;
}

.slideshowImage {
    width : 90%;
    top: 0;
    left: 0;
    right: 0;
}

#slideshow {
    display: grid;
}

/*video*/
#vimeo embed {
    position: absolute;
    margin-top: -1em;
    left:0em;
    right: 0;
    width: 90%;
    height: 90%;
}
#vimeo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}

#youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 100%;
}
#youtube {
    z-index:10;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}

/*footer*/
footer {
    font-size: 0.8em;
    padding-left: 0;
    margin-left: 2.75em;
    padding-top: 1em;
    padding-bottom: 5em;
    color: #D3D3D3;
}
footer a:hover{
    cursor: pointer;
    color: white
}

.impressum {
    color:lightgray;
}

/*behaviour*/
a:link {
    color: #F13E00;
    text-decoration: none;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

pre {
    padding: 0;
    overflow-x: auto;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#typewriter {
    width: 80%;
    opacity: 0;
    -webkit-animation: type3 1s steps(20, end);
    animation: type3 1s steps(20, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes type3 {
    0% {
        width: 0;
    }
    1% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
