{% extends "base.html" %}

{% block content %}
    <pre id="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::bio()
    {
        to_string
        ("</pre>
        <div id="typewriter" class="textblock">
        Hidonash is a Düsseldorf, (DE) based musician, DJ
        and software developer who explores contemporary
        terrain in experimental music and media art.
        With an interest in machinistic occultism, and
        technological culture, his work intertwines archaic
        and modernistic motives formulating both intuitive
        and algorithmic gestures.

        As a participant in the founding of the event series
        sysctl, Hidonash curates the spectrum of electronic
        music within the Düsseldorfer club-scene.
        He is engaged in several collaborative efforts
        to branch out into various artistic territories
        which currently include the following projects:

        The Dark-Wave live-project 'Exolar', which explores
        intersections between Techno and New Wave within the
        framework of a live performance.
        Hidonash: sequencer, laptop,
        vocals and self-made machinery
        Yannik Brehm: guitar, sequencer, synthesizer.

        A conceptual album for the project 'KRAFT', as an
        attempt to fuse technologically driven electronic
        music and archaic folk-metal, with the singer and
        film-maker <a href="https://www.ozantasci.com/">Ozan Tasci</a>

        A conceptual live performance project with the
        singer and performance artist <a href="https://www.instagram.com/anastasia.tasime/?hl=de">Anastasia Kapanadze</a>
        </div>
    <pre id="typewriter">
        ")
    }
    </pre>
{% endblock %}
