{% extends "header.html" %}

{% block content %}

<pre id="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::contact()
    {
        to_string
        ("

        If you want to book me for an upcoming event
        are further interested in what I do or you want
        to collaborate, feel free to get in touch:

        <a class="mailto" href="mailto:mail@hidonash.de">mail@hidonash.de</a>

        Simon Zimmermann
        Düsseldorf, Germany

        ")
    }
</pre>
{% endblock %}
