<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    </head>
    <body>
        <pre>


    initializing...

    <span class= "type">void</span> <span class="var-highlight">Website</span><span class="logo" onclick="window.location.replace('/')">::hidonash() </span>
    {
        string menu_[<span class="string-highlight" onclick="window.location.replace('audio')">'audio'</span>,
                     <span class="string-highlight" onclick="window.location.replace('video')">'video'</span>,
                     <span class="string-highlight" onclick="window.location.replace('bio')" id="target">'biography'</span>,
                     <span class="string-highlight" onclick="window.location.replace('contact')">'contact'</span>];
    }

    //===================================================
        </pre>
        {% block content %}{% endblock %}
    </body>
</html>
