{% extends "base.html" %}

{% block content %}
    <pre>
    loading category...

    to_string
    ("
        Privacy Statement
        ________________________________________________


        Soundcloud

        Some of my music/podcasts is stored and played on the platform "Soundcloud", offered by SoundCloud Limited, Rheinsberger Str. 76/77, 10115 Berlin, Germany.

        For this purpose I integrate so-called Soundcloud widgets into my website. These allow users to stream audio content. Soundcloud can measure which tracks/podcasts are listened to and to what extent and process this information pseudonymously for statistical and business management purposes. To this end, cookies may be stored in the browsers of users and processed for the purpose of creating user profiles, e.g. for the printing In the case of users registered with Soundcloud, Soundcloud may assign the audio information to their profiles.

        The use is based on my legitimate interests, i.e. interest in a secure and efficient provision, analysis and optimisation of my audio offer in accordance with Art. 6 Para. 1 lit. f. DSGVO.

        Further information and objection possibilities can be found in the Soundcloud data protection declaration: https://soundcloud.com/pages/privacy.
    };
    </pre>
{% endblock %}