{% extends "base.html" %}

{% block content %}
    <pre id="typewriter">
    loading category...

    <span class="type">void</span> <span class="var-highlight">Content</span><span class="logo" onclick="window.location.replace('default.html')">::video()</span>
    {
        // video:
        (
            "'Exolar - Computer Vision' 360° video and ambisonics audio"
            <div id="youtube" onmouseover="scrollingOver()">
                <embed src='https://www.youtube.com/embed/Sn2Ag1kGFLM'></embed>
            </div>
        )

        // photo:
        (
        <div id="slideshow">
        </div>
        )
    }
    </pre>
{% endblock %}
