{% extends "base.html" %}

{% block content %}
    <pre id="typewriter">
    loading category...

    <span class= "type">void</span> <span class="var-highlight">Content</span>::video()
    {
        // video:
        (</pre>
        <div id="typewriter" class="textblock">
            "'Exolar - Computer Vision' 360° video and ambisonics audio"
            <div id="youtube" onmouseover="scrollingOver()">
                <embed src='https://www.youtube.com/embed/Sn2Ag1kGFLM'></embed>
            </div>
        )
        </div>
        <pre id="typewriter">
        // photo:
        (
        </pre>
        <div id="typewriter" class="textblock">
        <div id="slideshow">
            {% for image in images %}
            <img src= {{ url_for('static', filename="images/" + image) }} class='slideshowImage'></img>
            {% endfor %}
        </div>
        )
        </div>
    <pre id="typewriter">
    }
    </pre>
{% endblock %}
