body  {
    font-family: 'Roboto Mono', monospace !important;
    background-color: #1C1C1C;
    padding-right: 5%;
}
.var-highlight{
    color: #FF936B;
}
.string-highlight{
    color: #F13E00;
}

.string-highlight:hover{
    color:white;
    cursor: pointer;
}
.type {
    color:white;
}
.logo:hover{
    color:white;
    cursor: pointer;
}

.typewriter{
    color: #D3D3D3 !important;
    font-size: 2.0vh; 
    margin:0;
    font-family: 'Roboto Mono', monospace !important;
}

.textblock {
    padding-left : 8em;
}

.mainNav {
    color: #D3D3D3 !important;
    margin: 1em;
    margin-top: 0em;
    font-family: 'Roboto Mono', monospace !important;
}

.socialNav li {
    display: inline-block;
    text-align: left;
}

#bio {
    display: inline-block;
    color:red; !important
}


/*MUSIC*/
iframe {
    font-size:1vh;
    height: 30vw;
    width: 30vw;
    display: grid;
    padding-top: 0.5em;
    padding-left: 10vh;
}

.slideshowImage {
    width: 30vw;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10vh;
}

#slideshow {
    display: grid;
}

/*video*/
#youtube embed {
    width: 30vw;
    height: 30vw;
    padding-top: 0.5em;
    padding-left: 10vh;
}
#youtube {
    z-index:10;
    position: relative;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}

/*footer*/
footer {
    font-size: 1.5vh;
    padding-left: 0;
    margin-left: 3em;
    padding-top: 1em;
    padding-bottom: 5em;
    color: #D3D3D3;
}
footer a:hover{
    cursor: pointer;
    color: white
}

.impressum {
    color:lightgray;
}

/*behaviour*/
a:link {
    color: #F13E00;
    text-decoration: none;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

pre {
    padding: 0;
    overflow-x: auto;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.2), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.2), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.2), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.2), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.2), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.2), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.70.25900.2143956px 0 1px rgba(0,30,255,0.2), -0.70.25900.2143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650.21px 0 1px rgba(0,30,255,0.2), -3.896914047650.21px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.2), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.2), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.2), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.2), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.2), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.2), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.488740.2155497314px 0 1px rgba(0,30,255,0.2), -0.488740.2155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.2), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.2), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.2), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.2), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.2), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.2), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.typewriter::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.typewriter {
  animation: textShadow 1.6s infinite;
}
