body  {
    font-family: 'Roboto Mono', monospace !important;
    background-color: #1C1C1C;
    padding-right: 5%;
}
.var-highlight{
    color: #FF936B;
}
.string-highlight{
    color: #F13E00;
}

.string-highlight:hover{
    color:white;
    cursor: pointer;
}
.type {
    color:white;
}
.logo:hover{
    color:white;
    cursor: pointer;
}

.typewriter{
    color: #D3D3D3 !important;
    font-size: 90%;
    margin:0;
    font-family: 'Roboto Mono', monospace !important;
}

.textblock {
    padding-left : 8em;
}

.mainNav {
    color: #D3D3D3 !important;
    margin: 1em;
    margin-top: 0em;
    font-family: 'Roboto Mono', monospace !important;
}

.socialNav li {
    display: inline-block;
    text-align: left;
}

#bio {
    display: inline-block;
    color:red; !important
}


/*MUSIC*/
iframe {
    height: 30vw;
    width: 30vw;
    display: grid;
    paddiing-top: 0.5em;
    padding-left: 4.5em;
}

.slideshowImage {
    width : 30vw;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 4.5em;
}

#slideshow {
    display: grid;
}

/*video*/
#youtube embed {
    width: 30vw;
    height: 30vw;
    padding-top: 0.5em;
    padding-left: 4.5em;
}
#youtube {
    z-index:10;
    position: relative;
    padding-top: 0px;
    height: 100%;
    overflow: hidden;
}

/*footer*/
footer {
    font-size: 0.8em;
    padding-left: 0;
    margin-left: 2.75em;
    padding-top: 1em;
    padding-bottom: 5em;
    color: #D3D3D3;
}
footer a:hover{
    cursor: pointer;
    color: white
}

.impressum {
    color:lightgray;
}

/*behaviour*/
a:link {
    color: #F13E00;
    text-decoration: none;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

pre {
    padding: 0;
    overflow-x: auto;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
